@page
@model Webshop.UI.Pages.ShoppingCart.ShoppingCartModel
@{
    var totalprice = 0;
    foreach (var item in Model.Cart.CartItems)
    {
        totalprice += item.Price;
    }
}

<h1>Shopping Cart</h1>

@foreach (var item in Model.Cart.CartItems)
{
    <div class="text-center">
        <img src="@item.Image" alt="Alternate Text" />
        <h6>Name : @item.Name</h6>
        <h6>Price: @item.Price $</h6>
        <br />

    </div>


}
<div class="text-center"><h6>Amount: @totalprice $</h6></div>

<br />
    <div class="text-center">
        <a class="btn btn-light" asp-page="/StorePage/LoggedinIndex" asp-route-id="@Model.Cart.CartId" asp-page-handler="GoBack">Go Back</a>
        <a class="btn btn-light" asp-page="/Checkout/Checkout" asp-route-id="@Model.Cart.CartId" asp-page-handler="Checkout">Checkout</a>
    </div>

