@page
@model Webshop.UI.Pages.StorePage.LoggedinIndexModel
@{
}

<div class="input-group">
    <form asp-page="/StorePage/LoggedinIndex">
        <div class="input-group">
            <input type="text" class="form-control" asp-for="productname" />
            <span class="input-group-btn">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </span>
        </div>
    </form>
</div>

@*<form>
    <input type="text" class="form-control" asp-for="productname" />
    <a type="submit" asp-page-handler="Search" asp-page="/StorePage/LoggedinIndex" asp-route-name="@Model.productname" asp-route-id="@Model.ShoppingCart.CartId">Search</a>
</form>*@

<br />
<a class="btn btn-light" asp-route-id="@Model.ShoppingCart.CartId" asp-page-handler="SortMax">Sort by Max Price</a>
<a class="btn btn-light" asp-route-id="@Model.ShoppingCart.CartId" asp-page-handler="SortMin">Sort by Min Price</a>
<br />
<br />  
<h1>Products</h1>
<br />

<div class="text-center">
    <a class="btn btn-light" asp-page="/ShoppingCart/ShoppingCart" asp-route-id="@Model.ShoppingCart.CartId" asp-page-handler="Checkout">Checkout</a>
</div>
<br />
@foreach (var item in Model.Products)
{
    <div asp-page-handler="Index" class="text-center">
        <img src="@item.Image" alt="Card image cap" class="img-thumbnail" />
        <h6>Product : @item.Name</h6>
        <h6>Price : @item.Price$</h6>
        <a class="btn btn-light" asp-page="/StorePage/LoggedinIndex" asp-route-product="@item.id" asp-route-id="@Model.ShoppingCart.CartId" asp-page-handler="AddToCart">Add To Cart</a>
        <br />
        
    </div>
}



