@page
@model Webshop.UI.Pages.StorePage.LoggedinIndexModel
@{
}

<h1>Products</h1>
<br />

@foreach (var item in Model.Products)
{
    <div asp-page-handler="Index" class="text-center">
        <img src="@item.Image" alt="Card image cap" class="img-thumbnail" />
        <h6>Product : @item.Name</h6>
        <h6>Price : @item.Price$</h6>
        <a class="btn btn-light" asp-page="/StorePage/LoggedinIndex" asp-route-product="@item.id" asp-route-id="@Model.ShoppingCart.CartId" asp-page-handler="AddToCart">Add To Cart</a>
        <br />
        
    </div>
}
<br />
<a class="btn btn-light" asp-page="/ShoppingCart/ShoppingCart" asp-route-id="@Model.ShoppingCart.CartId" asp-page-handler="Checkout">Checkout</a>