@page
@model Webshop.UI.Pages.Edit.EditProductModel
@{
}

<h1>Edit Product</h1>

<h3>@Model.Product.Name</h3>

<form asp-page-handler="Save">
    <h6>Name: </h6>
    <input type="text" asp-for="Product.Name" value="@Model.Product.Name" />
    <h6>Price: </h6>
    <input type="text" asp-for="Product.Price" value="@Model.Product.Price" />
    <h6>Message: </h6>
    <input type="text" asp-for="Product.Message" value="@Model.Product.Message" />
    <input type="hidden" asp-for="Product.id" value="@Model.Product.id" />
    <button type="submit">Save</button>
</form>
